
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
  }
  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
   scroll-behavior: smooth;
  }
  html{
    font-size: 101%;
  }
  p{
    color: hsl(225, 5%, 54%);
    transition: all .4s;
  }
  