@import url('Features.css');
@media (max-width:768px){
    .Features {
        padding: 1rem 0;
      }
      .Features-text p {
        max-width: 100%;
        padding: 0.5rem;
      }
      .tab {
        flex-direction: column;
        gap: 1rem;
      }
      .tab span {
        color: hsl(220, 3%, 46%);
      }
      .toggle-tab {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 1rem;
        gap: 5rem;
        padding-bottom: 1rem;
      }
      .toggle-article {
        padding: 1rem;

        text-align: center;
        flex-direction: column;
      }
      .toggle-article button {
        width: fit-content;
        padding: 0.5rem 1.5rem;
        white-space: nowrap;
        color: white;
        border: 0;
        border-radius: 2px;
        background-color: hsl(231, 69%, 60%);
        cursor: pointer;
      }
      .toggle-article h1{
       color:    hsl(229, 31%, 21%);
       font-size: 1.6rem;
      }
      .image1 {
        margin-left:1rem;
        width: 90%;
        object-fit: contain;
      }
     .blue-container{
        min-height: max-content;
     }
      .blue-spot{
          top: 40%;
          left: -80px;
          z-index: -1;
          height: 200px;
          border-radius: 0 0 30% 0;
      }
      
}